body {

  background: linear-gradient(270deg,
  #ff9933,
  #ff4da6,
  #ffcc33,
  #ff6600,
  #800080
);
  color: #f4f7fb;
  overflow: hidden;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  animation: rainbowFlow 10s linear infinite;
}

/* Body Animation */
@keyframes rainbowFlow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Name Overlay */
#nameOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  z-index: 10;
}

#nameOverlay h2 {
  color: #ffb84d;
  font-size: 1.6rem;
}

#nameInput {
  padding: 10px 18px;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 1.1rem;
}

#startBtn {
  background: linear-gradient(90deg, #ffb84d, #ff4d6d);
  border: none;
  color: #000;
  padding: 10px 20px;
  font-size: 1.1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}
#startBtn:hover {
  transform: scale(1.05);
}

.hidden {
  display: none;
}

/* Final Message */
#finalMessage {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 5;
}

#finalMessage.show {
  opacity: 1;
}

#finalText {
  font-size: 2.2rem;
  background: linear-gradient(90deg, #ff4d6d, #ffb84d, #7afcff, #a6ff7a, #d69bff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 25px #ffb84d;
}
